.modal-export{
  .options-extension{
    margin-bottom: 1.2rem;
    .form-group{
      display: flex;
      align-items: center;
      gap: 1.2rem;
      .base-radio{
        margin: 0;
      }
    }
  }
}