.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  height: 5.7rem;
  padding-left: 31.2rem;
  padding-right: 1.6rem;
  z-index: 9;
  transition: padding 0.5s ease-in-out;
  &-actions {
    .base-button {
      height: 5.7rem;
      padding: 1.2rem 1.6rem;
      border-radius: 0;
      color: var(--text-primary-color);
      svg {
        color: var(--text-primary-color);
        fill: var(--text-primary-color);
      }
      &:focus:not(:disabled),
      &:active:not(:disabled),
      &:hover:not(:disabled) {
        background: var(--primary-color-5);
        box-shadow: none;
      }
      .count {
        position: absolute;
        background-color: var(--error-color);
        color: var(--white-color);
        font-size: 1rem;
        line-height: 1.8rem;
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        top: 1.2rem;
        left: 2.7rem;
        min-width: 1.6rem;
        justify-content: center;
      }
    }
  }
  .notification {
    &-hot {
      padding: 1.6rem 0;
      max-width: calc(100% - 24rem);

      .swiper {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-style: italic;
        a {
          color: var(--text-primary-color);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
  .user-dropdown {
    .base-button {
      font-weight: 400;
      font-size: 1.4rem;
      white-space: nowrap;
      svg {
        width: 2.4rem;
        height: 2.4rem;
        color: var(--text-primary-color);
        fill: var(--text-primary-color);
      }
      span {
        max-width: 11rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .btn-menu-mobile {
    padding: 1rem 1.6rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 5.7rem;
    svg {
      color: var(--text-primary-color);
      fill: var(--text-primary-color);
      width: 2rem;
      height: 2rem;
    }
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background: none;
      box-shadow: none;
    }
  }
  @media (max-width: 1199px) {
    padding-left: 0;
    .notification {
      &-hot {
        padding-left: 5.2rem;
      }
    }
  }
  @media (max-width: 767px) {
    padding-right: 0;
    &-actions {
      .base-button {
        &:focus:not(:disabled),
        &:active:not(:disabled),
        &:hover:not(:disabled) {
          background: transparent;
          box-shadow: none;
          svg {
            fill: var(--primary-color);
            color: var(--primary-color);
          }
        }
      }
    }
    .user-dropdown {
      .base-button {
        padding-left: 1.2rem;
      }
    }
    .notification {
      &-dropdown {
        .base-button {
          padding-right: 1.2rem;
        }
      }
      &-hot {
        max-width: calc(100% - 10.4rem);
      }
    }
  }
}

.popover-notification-header {
  width: 45rem;
  max-width: 45rem;
  max-height: 50rem;
  padding: 0;
  .notification {
    &__wrapper {
      overflow: hidden;
      border-radius: 0.8rem;
    }
    &-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      padding: 1.2rem 1.6rem;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      &.unread {
        background: var(--primary-color-5);
      }
      &:hover {
        background: var(--extra-color-5);
      }
      &__icon {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 1.6rem;
        svg {
          width: 1.6rem;
          height: 1.6rem;
          fill: var(--white-color);
          color: var(--white-color);
        }
        &.news {
          background: var(--primary-color);
        }
        &.promotion {
          background: var(--warning-color);
        }
        &.order {
          background: var(--success-darker-color);
        }
        &.system {
          background: var(--error-color);
        }
      }
      &__body {
        h3 {
          font-weight: 500;
          font-size: 1.4rem;
          margin: 0;
          color: var(--text-primary-color);
        }
        time {
          font-size: 1.2rem;
          line-height: 1.6rem;
          display: block;
        }
      }
    }
  }
  .triangle {
    right: 1.8rem;
  }
  .btn-viewmore-noti {
    width: 100%;
    justify-content: center;
    background: none;
    color: var(--blue-color);
    height: auto;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-top: 1px solid var(--border-color);
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      border-top: 1px solid var(--border-color);
      background: none;
    }
    svg {
      color: var(--blue-color);
      fill: var(--blue-color);
    }
  }
  ul {
    max-height: 39rem;
    overflow: auto;
  }
  @media (max-width: 767px) {
    width: calc(100% - 3.2rem);
    right: 1.6rem !important;
    .triangle {
      right: 5rem;
    }
  }
}

.popover-user-header {
  width: 28rem;
  ul {
    li {
      padding: 0.8rem 1.2rem;
      align-items: flex-start;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--text-primary-color);
      gap: 1.2rem;
      svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--primary-color);
        color: var(--primary-color);
        flex-shrink: 0;
        &.logout-loading {
          margin-right: 0;
          opacity: 0.5;
        }
      }
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:hover {
        background: var(--primary-color-5);
      }
    }
  }
  @media (max-width: 767px) {
    right: 1rem !important;
    .triangle {
      right: 0.8rem;
    }
  }
}
