.save-search {
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: 1px solid var(--border-color);
  padding: 0 2rem;
  height: 5rem;
  letter-spacing: 0.25px;
  font-size: 1.4rem;
  line-height: 2rem;
  gap: 2.4rem;
  color: var(--text-extra-color);
  li {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding: 1.5rem 0 1.2rem;
    transition: color 0.2s ease-in-out;
    &:hover,
    &.active {
      border-bottom-color: var(--primary-color);
      color: var(--text-primary-color);
    }
    &.active {
      cursor: default;
      pointer-events: none;
    }
  }
  @media (max-width: 767px) {
    padding: 0 1.6rem;
  }
}
