.receipt-detail-modal {

  .modal-dialog {
    max-width: 110rem;
  }

  &__header {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 1.5 3rem;

    &-left {
      & .logo {
        width: 8rem;
        height: 8rem;
      }
      display: flex;

      & .name {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        

        b {
          font-weight: 600;
        }
      }

      & .name__gdp {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--primary-color);
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
    }
  }

  &__body {
    padding: 0 3rem;
    &__head {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-size: 2.8rem;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--primary-color);
    }

    &__date {
      font-weight: 600;
      font-style: italic;
    }

    &__content {
      padding-top: 3rem;
      padding-bottom: 2rem;
      &__item {
        width: 100%;
        display: flex;
        margin-bottom: 1.2rem;

        & .key {
          min-width: 19rem;
          flex-shrink: 1;
          font-weight: 600;
        }
      }
    }
  }
}